<div *ngIf="gasStation" id="gasInfoBody">
  <h1 id="gasStationName">{{gasStation.name}}</h1>
  <app-map id="mapBody" [gasStations]="[gasStation]" [options]="{
    center: {lat: gasStation.latitude, lng: gasStation.longitude},
    zoom: 15
  }"></app-map>

  <div id="descriptionBody">
    <h4>Ubicación:</h4>
    <p>{{gasStation.address}}. {{gasStation.municipality}}, {{gasStation.zip}}</p>

    <h4>Precios:</h4>
    <app-gas-price-list [gasPrices]="gasStation.gasPrices"></app-gas-price-list>
  </div>
</div>
