/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'

body
  min-height: 100vh

.boton
  background-color: rgb(93, 204, 252)
  border: 1px solid #000
  border-radius: 5px
  transition-duration: 0.4s

  &:hover
    background-color: rgb(0, 101, 163)

input
  border: none
  border-bottom: solid black 1px
