.paragraph
  border-radius: 19px
  text-align: left
  max-width: 70%
  display: inline-block
  border: 1px solid black
  vertical-align: top
  font-size: calc(0.5rem + 1.5vw)
  padding: 3rem
  line-height: 1.5

.paragraph-about-us
  width: 70%
  margin-top: 1rem
  display: inline-block

.img-about-us
  width: calc(8rem + 1.8vw)
  height: calc(8rem + 1.5vw)
  border-radius: 29px
  display: inline-block
  max-width: 30%
  padding-right: 0.5rem
  margin: 1rem
  vertical-align: top

.img-text-container
  text-align: center

.odd-background-about-us
  background: #5DCCFC

.even-background-about-us
  background: #DAF0F4

