<div class="containerList" id ="ContenedorPumpingList">
  <div class="searchBox mb-3">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="search" placeholder="Buscar..." class="searchInput" autocomplete="off">
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <td scope="col">Fecha</td>
      <td scope="col">Kms</td>
      <td scope="col">Cantidad respostada</td>
      <td scope="col">Precio</td>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let pumps of pumping" [attr.data-id]="pumps.userId">
      <td scope="col" class="centrar">{{pumps.fecha}}</td>
      <td scope="col" class="elementUser centrar">{{pumps.kmActual}}</td>
      <td scope="col" class="centrar">PENDIENTE</td>
      <td scope="col" class="centrar">{{pumps.precioCombustible}}</td>
    </tr>
    </tbody>


  </table>
</div>
