.card-car-img-text-container
  display: inline-block
  width: calc(12rem + 6.5vw)
  margin: auto
  border: 1px black solid
  text-align: left
  border-radius: 5%
  overflow: hidden
  transition: background-color 0.3s ease

.card-car-img-text-container:hover
  background-color: #daf0f4
  cursor: pointer

#carList
  flex: 1

.card-img
  height: 10rem
  width: calc(12rem + 6.5vw)

.fa-expand
  font-size: 2rem

.btn-card-car
  background: #0065A3
  padding: 0.5rem
  color: #FFFFEE
  float: right
  border: none
  margin: 1rem
  border-radius: 20%
  height: 3.5rem
  width: 3.5rem
  margin-top: 0
  margin-bottom: 15px

.card-title
  font-size: calc(1.5rem + 1.5vw)
  margin: 1rem

.card-text
  font-size: calc(0.5rem + 1vw)
  padding-left: 1rem
  padding-right: 1rem

.cards-container
  text-align: center
