.card-car-img-text-container
  display: inline-block
  width: calc(12rem + 6.5vw)
  margin: auto
  border: 1px black solid
  text-align: left
  border-radius: 5%
  overflow: hidden
  transition: background-color 0.3s ease

.card-car-img-text-container:hover
  background-color: #8af0f4
  cursor: pointer

.card-car-img-text-container:hover
  cursor: pointer
  transform: scale(1.05)
  transition: all 0.3s ease

#carList
  flex: 1

.card-img
  height: 10rem
  width: calc(12rem + 6.5vw)

.fa-expand
  font-size: 2rem

.btn-card-car
  background: #0065A3
  padding: 0.5rem
  color: #FFFFEE
  float: right
  border: none
  margin: 1rem
  border-radius: 20%
  height: 3.5rem
  width: 3.5rem
  margin-top: 0
  margin-bottom: 15px

.cards-full-contain
  justify-content: center

.odd-background-card-car
  background: #EFFFFF

.even-background-card-car
  background: white

.card-title
  font-size: calc(1.5rem + 1.5vw)
  margin: 1rem

.container
  padding-left: 0
  padding-right: 0
  display: inline-block
  margin: 4rem
  width: auto

.card-text
  font-size: calc(0.5rem + 1vw)
  padding-left: 1rem
  padding-right: 1rem

.cards-container
  text-align: center

.btn-card-expand
  background: #0065A3
  padding: 0.5rem
  color: #FFFFEE
  float: right
  border: none
  margin: 1rem
  border-radius: 20%
  height: 3.5rem
  width: 3.5rem
  margin-top: 0
  margin-bottom: 15px

.btn-card-expand i.fa-expand
  font-size: 2rem
  transition: transform 0.2s ease-in-out

.btn-card-expand:hover i.fa-expand
  transform: scale(1.2)
.add-car
  min-height: 16rem
  border: 2px gray dashed

.add-car:hover
  background-color: lightgreen
  cursor: pointer

.text-add-car
  font-weight: bold
  font-size: calc(1rem + 1.5vw)
  text-align: center

.add-car-group
  text-align: center
  margin-top: 10px
  display: flex
  justify-content: center
  align-items: flex-start

.fa-plus, .fa-car
  font-size: 5rem
  transition: transform 0.2s ease-in-out

.fa-car
  margin-top: 2rem
  transform: translateY(0)
.fa-plus
  border-color: black

.add-car-group:hover .fa-plus,
.add-car-group:hover .fa-car
  transform: translateY(0.5rem)


