<!-- Componente de informacion del usuario -->
<div  class="d-flex justify-content-center" id="cc">
  <div class="w-50 m-auto rounded border" id="dataUserContainer">
    <!-- Nombre del usuario -->
    <div class="rounded-top titleInfo">
      <h2 class="ms-1" >Datos del usuario</h2>
    </div>

    <p class="border-1">Nombre: {{ this.user?.username }}</p>

    <!-- Correo del usuario -->
    <p class="border-1">Correo: {{ this.user?.email }}</p>

    <!-- Numero de coches del usuario -->
    <div class="rounded-top titleInfo">
      <h2 class="ms-1">Informacion de coches</h2>
    </div>
    <p class="border-1">Numero de coches:  {{ numeroCoches }}</p>

    <div class="rounded-top titleInfo">
      <h2 class="rounded-top ">Operaciones del usuario</h2>
    </div>

    <!-- Numero de repostajes del usuario -->
    <p class="border-1">Numero de respostajes: {{ numeroRepostajes }}</p>

    <!-- Numero de reparaciones del usuario -->
    <p class="border-1">Numero de reparaciones: {{ numeroReparaciones }}</p>
  </div>
</div>
