<div id="carProfileFotoContainer">
    <img src="../img/car.png" alt="Logo" class="image-form-icon-options" id="carImage">

</div>
<div class="infoCoche">
    <h3 id="MatriculaCoche" class="info">1234BBB</h3>
    <h3 id="MarcaCoche" class="info">Seat</h3>
    <h3 id="ModeloCoche" class="info">Ibiza 2004</h3>
</div>
<div id="btnsCar">
    <div class="optionElement">
        <button type="button" class="button-car-options" id="editProfileBtn">Añadir Repostaje<i class="fa-solid fa-gas-pump"></i></button>
    </div>
    <div class="optionElement">
        <button type="button" class="button-car-options" id="myCarsBtn">Añadir Recambio <i class="fa-solid fa-wrench"></i></button>
    </div>
    <div class="optionElement">
        <button type="button" class="button-car-options" id="logOutBtn">Editar <i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <div class="optionElement optionElementLast">
        <button type="button" class="button-car-options" id="deleteUserBtn"><span class="delete-option-form">Eliminar <i class="fa-solid fa-trash"></i></span></button>
    </div>
</div>