<div id="cabeceraCarInfo">
    <button type="button" id="mantenimientoBtn" class="selectedInfo btnCabeceraCar"> Mantenimiento</button>
    <button type="button" id="respostajesBtn" class="btnCabeceraCar"> Repostajes</button>
    <button type="button" id="reparacionesBTN" class="btnCabeceraCar"> Reparaciones</button>
</div>
<div id="infoAMostrar">
    <div id="mantenimientoInfo" ></div>
    <div id="respostajesInfo" class="displayoff"></div>
    <div id="reparacionesInfo" class="displayoff"></div>
</div>