
<footer>
    <div class="footerContainer">
        <section class="footerSection">
            <h1 class="footerSectionTitle">Section 1</h1>
            <ul>
                <li class="footerSectionElement"><a>link 1</a></li>
                <li class="footerSectionElement"><a>link 2</a></li>
            </ul>
        </section>
        <section class="footerSection">
            <h1 class="footerSectionTitle">Section 2</h1>
            <ul>
                <li class="footerSectionElement"><a>link 1</a></li>
                <li class="footerSectionElement"><a>link 2</a></li>
                <li class="footerSectionElement"><a>link 3</a></li>
            </ul>
        </section>

        <section class="footerSection">
            <img src="" alt="Logo">
        </section>
        <section class="footerSection">
            <h1 class="footerSectionTitle">Section 3</h1>
            <ul>
                <li class="footerSectionElement"><a>link 1</a></li>
                <li class="footerSectionElement"><a>link 2</a></li>
                <li class="footerSectionElement"><a>link 3</a></li>
                <li class="footerSectionElement"><a>link 4</a></li>
            </ul>
        </section>
        <section class="footerSection">
            <h1 class="footerSectionTitle">Section 4</h1>
            <ul>
                <li class="footerSectionElement"><a>link 1</a></li>
                <li class="footerSectionElement"><a>link 2</a></li>
            </ul>
        </section>
    </div>
</footer>