<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>
    <link rel="stylesheet" href="../../css/footer.css">
</head>
<body>
    <footer>
        <div class="footerContainer">
            <div class="footerSection">
                <h3 class="footerSectionTitle">Section 1</h3>
                <ul class="linksFooter">
                    <li class="footerSectionElement"><a>link 1</a></li>
                    <li class="footerSectionElement"><a>link 2</a></li>
                </ul>
            </div>
            <div class="footerSection">
                <h3 class="footerSectionTitle">Section 2</h3>
                <ul>
                    <li class="footerSectionElement"><a>link 1</a></li>
                    <li class="footerSectionElement"><a>link 2</a></li>
                    <li class="footerSectionElement"><a>link 3</a></li>
                </ul>
            </div>

            <div class="imgContainer">
                <img src="" alt="Logo" class="imgFooter">
            </div>
            <div class="footerSection">
                <h3 class="footerSectionTitle">Section 3</h3>
                <ul>
                    <li class="footerSectionElement"><a>link 1</a></li>
                    <li class="footerSectionElement"><a>link 2</a></li>
                    <li class="footerSectionElement"><a>link 3</a></li>
                    <li class="footerSectionElement"><a>link 4</a></li>
                </ul>
            </div>
            <div class="footerSection">
                <h3 class="footerSectionTitle">Section 4</h3>
                <ul>
                    <li class="footerSectionElement"><a>link 1</a></li>
                    <li class="footerSectionElement"><a>link 2</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>