<!DOCTYPE html>
<html lang="en">

    <form id="formCarRegistration" class="containerForm form">
        <h3>Registrate</h3>
        <div id="First">
            <img src="../img/forms/firstProgress.PNG" class="progressCarRegistration" alt="actualProgress">
            <div class="elementForm">
                <label for="Matricula">Matricula</label>
                <input type="text" class="input" id="mat">
            </div>
            <div class="elementForm">
                <label for="Marca">Marca</label>
                <input type="text" class="input" id="marca">
            </div>
            <div class="elementForm">
                <label for="Modelo">Modelo</label>
                <input type="text" class="input" id="modelo">
            </div>
            <div class="elementForm">
                <label for="Combustible">Combustible</label>
                <select id="combustible" name="cars">
                    <option value="volvo">Gasolina 98</option>
                    <option value="saab">Gasolina 96</option>
                    <option value="fiat">Diesel</option>
                </select>
            </div>
            <button type="button" onclick="valForm(1)" id="btnForm1" class="formButton">Siguiente</button>
        </div>
        <div id="Second" class="displayoff">
            <img src="../img/forms/secondProgress.PNG" class="progressCarRegistration" alt="actualProgress">
            <div class="elementForm">
                <label for="AceiteMotor">Aceite motor</label>
                <input type="text" class="input" id="aceiteMotor">
            </div>
            <div class="elementForm">
                <label for="AceiteDireccion">Aceite direccion</label>
                <input type="text" class="input" id="aceiteDireccion">
            </div>
            <div class="elementForm">
                <label for="AguaRadiador">Agua del radiador</label>
                <input type="text" class="input" id="aguaRadiador">
            </div>
            <div class="elementForm">
                <label for="AguaParabrisas">Agua del parabrisas</label>
                <input type="text" class="input" id="aguaParabrisas">
            </div>
            <button type="button" onclick="valForm(2)" class="formButton">Siguiente</button>
        </div>
        <div id="Third" class="displayoff">
            <img src="../img/forms/thirdProgress.PNG" class="progressCarRegistration" alt="actualProgress">
            <div class="elementForm">
                <label for="LiquidoFrenos">Liquido de frenos</label>
                <input type="text" class="input" id="liquidoFrenos">
            </div>
            <div class="elementForm">
                <label for="ValculinaCajaCambios">Valvulina caja de cambios</label>
                <input type="text" class="input" id="valculinaCajaCambios">
            </div>
            <div class="elementForm">
                <label for="ValvulinaDiferencial">Valvulina del diferencial</label>
                <input type="text" class="input" id="valvulinaDiferencial">
            </div>
            <div class="elementForm">
                <label for="AguaBateria">Agua de la bateria</label>
                <input type="text" class="input" id="aguaBateria">
            </div>
            <button type="button" onclick="valForm(3)" class="formButton">Siguiente</button>
        </div>
        <div id="Fourth" class="displayoff">
            <img src="../img/forms/fourProgress.PNG" class="progressCarRegistration" alt="actualProgress">
            <div class="elementForm">
                <label for="Filtro de aceite">Filtro de aceite</label>
                <input type="text" class="input" id="filtroAceite">
            </div>
            <div class="elementForm">
                <label for="Filtro de aire">Filtro de aire</label>
                <input type="text" class="input" id="filtroAire">
            </div>
            <div class="elementForm">
                <label for="Filtro del combustible">Filtro del combustible</label>
                <input type="text" class="input" id="filtroCombustible">
            </div>
            <div class="elementForm">
                <label for="Presion neumaticos">Presión neumaticos</label>
                <input type="text" class="input" id="presionNeumaticos">
            </div>
            <button type="button" onclick="valForm(4)" class="formButton">Siguiente</button>
        </div>
        <div id="Fifth" class="displayoff">
            <img src="../img/forms/fiveProgress.PNG" class="progressCarRegistration" alt="actualProgress">
            <div class="elementForm">
                <label for="correaDistribucion">Correa de distribucion</label>
                <input type="text" class="input" id="correaDistribucion">
            </div>
            <div class="elementForm">
                <label for="correaAlternador">Correa del alternador</label>
                <input type="text" class="input" id="correaAlternador">
            </div>
            <div class="elementForm">
                <label for="limpiezaBujias">Limpieza de Bujias</label>
                <input type="text" class="input" id="limpiezaBujias">
            </div>
            <div class="elementForm">
                <label for="cambioBujias">Cambio de Bujias</label>
                <input type="text" class="input" id="cambioBujias">
            </div>
            <button type="button" onclick="valForm(5)"  class="formButton">Siguiente</button>
        </div>
        <div id="Sixth" class="displayoff">
            <img src="../img/forms/sixProgress.PNG" class="progressCarRegistration" alt="actualProgress">
            <div class="elementForm">
                <label for="impuestoCirculacion">Impuesto de circulacion</label>
                <input type="date" class="input" id="impuestoCirculacion">
            </div>
            <div class="elementForm">
                <label for="seguroCoche">Seguro del coche</label>
                <input type="date" class="input" id="seguroCoche">
            </div>
            <div class="elementForm">
                <label for="revisionITV">Revision ITV</label>
                <input type="date" class="input" id="revisionITV">
            </div>
            <div class="elementForm">
                <label for="fotoCoche">Foto del coche</label>
                <input type="file" class="input" id="fotoCoche">
            </div>
            <button type="button" onclick="enviar()" class="formButton">Enviar</button>
        </div>
    </form>

