<div class="form-pumping-container">
    <h3>Añade un repostaje</h3>
    <div class="container-input-pumping">
        <label for="GasPrice" class="labelPumping">Precio €/L combustible</label>
        <input type="text" id="GasPrice" class="inputDataPumping" name="campo1">
    </div>
    <div class="container-input-pumping">
        <label for="totalKM" class="labelPumping">Km actual</label>
        <input type="text" id="totalKM" class="inputDataPumping" name="campo2">
    </div>
    <div class="container-input-pumping">
        <label for="totalPrice" class="labelPumping">Precio total</label>
        <input type="text" id="totalPrice" class="inputDataPumping" name="campo3">
    </div>
    <button name="button" type="submit" class="containerButton"><strong>Añadir</strong></button>
</div>