<form id="formUserRegistration" class="containerForm form">
    <div class="formTitle">
        <h3>REGISTRATE</h3>
    </div>
    <div class="elementForm">
        <label for="Usuario">Usuario</label>
        <input type="text" class="input" id="user" required>
    </div>
    <div class="elementForm">
        <label for="email">Email</label>
        <input type="email" class="input" id="email" placeholder="ejemplo@dominio.com" required autocomplete="off">
    </div>
    <div class="elementForm">
        <label for="Contraseña">Contraseña</label>
        <input type="password" id="pass" class="input" minlength="6" required>
    </div>
    <div class="elementForm">
        <label for="ConfirmaContraseña">Confirma Contraseña</label>
        <input type="password" id="passConfirm" class="input" minlength="6" required>
    </div>
    <div class="elementForm">
        <label for="foto">Foto</label>
        <input type="file" class="input">
    </div>

    <button type="submit" id="registerBtn" class="containerButton">Registrar</button>
</form>