<!DOCTYPE html>
<html lang="en">
<head>
    <title>Header</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/header.css">
</head>
<body>
<header>
    <img id="headerLogo" class="headerLeftSection headerSection" src="" alt="Logo">

    <nav id="headerLinks" class="headerLeftSection headerSection">
        <a href="">Link 1</a>
        <a href="">Link 2</a>
    </nav>


    <!-- In the final application only one of these will be displayed
    at a time depending on if the user is logged in or not. --->

    <!-- Profile Icon --->
    <img id="headerProfileImg" src="" alt="Profile Image" class="headerSection headerRightSection">

    <!-- Login button --->
    <button id="headerLoginButton" type="button" class="headerSection headerRightSection">Login</button>

</header>
</body>