
<header>

    <section class="headerContainer">
        <div class="headerLeftSection">
            <img class="headerSection" src="" alt="Logo">

            <a class="headerSection">Link 1</a>
            <a class="headerSection">Link 1</a>
        </div>

        <div class="headerRightSection">

            <!-- Register button --->
            <div id="registerButton" class="headerSection">

            </div>

            <!-- Profile Icon --->
            <div id="profileIcon" class="headerSection">

            </div>


        </div>
    </section>

</header>