    <img id="headerLogo" class="headerSection headerLeftSection" src="../img/Logo.png" alt="Logo">

    <a href="" class="headerSection headerLeftSection">Link 1</a>
    <a href="" class="headerSection headerLeftSection">Link 2</a>

    <div id="headerAboutSection" class="headerSection headerRightSection">
        <a href="" class="headerSection ">Link 1</a>
        <a href="" class="headerSection">Link 2</a>
    </div>

    <img id="headerProfileImg" src="../img/Logo.png" alt="Profile Image" class="headerSection SecondaryRightSection">

