<!DOCTYPE html>
<html lang="en">
<head>
    <title>Header</title>
    <link rel="stylesheet" href="../../css/header.css">
</head>
<body>
<header>
    <img id="headerLogo" class="headerSection headerLeftSection" src="../../img/Logo.png" alt="Logo">

    <a href="" class="headerSection headerLeftSection">Link 1</a>
    <a href="" class="headerSection headerLeftSection">Link 2</a>
    
    <button id="headerLoginButton" type="button" class="headerSection headerRightSection">Login</button>

</header>
</body>