<div id="ContenedorPumpingList">
    <div class="searchBox">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="search" placeholder="Buscar..." class="searchInput" autocomplete="off">
    </div>
    <table>
        <thead>
            <tr>
                <td>Fecha</td>
                <td>Kilometros</td>
                <td>Cantidad Repostada</td>
                <td>Precio</td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>
        <tr>
            <td>12/05/2023</td>
            <td>50 455</td>
            <td>50L</td>
            <td>1.112€/L</td>
        </tr>

        </tbody>
    </table>
</div>

