<form class="containerForm form">
    <h3>Añade una Reparacion</h3>
    <div class="elementForm">
        <label for="articuloReparado" class="labelPumping">Articulo Reparado</label>
        <input type="text" id="articuloReparado" class="inputDataPumping" name="campo1">
    </div>
    <div class="elementForm">
        <label for="precio" class="labelPumping">Precio</label>
        <input type="text" id="precio" class="inputDataPumping" name="campo2">
    </div>
    <div class="elementForm">
        <label for="fecha" class="labelPumping">Fecha de Reparacion</label>
        <input type="text" id="fechaReparacion" class="inputDataPumping" name="campo3">
    </div>
    <div class="elementForm">
        <label for="taller" class="labelPumping">Taller</label>
        <input type="date" id="taller" class="inputDataPumping" name="campo3">
    </div>
    <button name="button" type="submit" class="formButton"><strong>Añadir</strong></button>
</form>