<div id="ContenedorSpareList">
    <div class="searchBox">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="search" placeholder="Buscar..." class="searchInput" autocomplete="off">
    </div>
    <table>
        <thead>
        <tr>
            <td>Parte</td>
            <td>Fecha</td>
            <td>Precio</td>
            <td>Taller</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>
        <tr>
            <td>Correa de Distribucion</td>
            <td>15/02/2023</td>
            <td>300€</td>
            <td>Gt AutomocionL</td>
        </tr>

        </tbody>
    </table>
</div>

