<div id="formIconSection">
    <img src="../img/UserFoto.PNG" alt="Logo" class="image-form-icon-options">
    <button type="button" class="button-user-options">Editar<i class="fa-solid fa-pen-to-square"></i></button>
    <button type="button" class="button-user-options">Mis coches <i class="fa-solid fa-car"></i></button>
    <button type="button" class="button-user-options">Cerrar Session <i class="fa-solid fa-right-to-bracket"></i></button>
    <button type="button" class="button-user-options"><span class="delete-option-form">Borrar cuenta <i class="fa-solid fa-trash"></i></span></button>
</div>
