<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/list.css">
    <script src="https://kit.fontawesome.com/ff006d44e4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="containerList">
        <div class="headerListContainer">
            <h3>Lista de Usuarios:</h3>
            <div class="searchBox">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="search" placeholder="Buscar..." class="searchInput" autocomplete="off">
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <td class="tableHeader">Foto</td>
                    <td class="tableHeader elementUser">Usuario</td>
                    <td class="tableHeader">Email</td>
                    <td class="tableHeader"></td>
                    <td class="tableHeader"></td>
                </tr>
            </thead>
            <tr class="fila">
                <td><img class="imgProfile" src="../../img/UserFoto.PNG" alt=""></td>
                <td class="elementUser">Andrea Gomez</td>
                <td>andrea@correo.com</td>
                <td class="btnTable"><a><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td class="btnTable"><a><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr class="fila">
                <td><img class="imgProfile" src="../../img/UserFoto.PNG" alt=""></td>
                <td class="elementUser">Andrea Gomez</td>
                <td>andrea@correo.com</td>
                <td class="btnTable"><a><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td class="btnTable"><a><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            <tr class="fila">
                <td><img class="imgProfile" src="../../img/UserFoto.PNG" alt=""></td>
                <td class="elementUser">Andrea Gomez</td>
                <td>andrea@correo.com</td>
                <td class="btnTable"><a><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td class="btnTable"><a><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>

        </table>
    </div>

</body>
</html>