<div class="containerList">
    <div class="headerListContainer">
        <h3>Lista de Usuarios:</h3>
        <div class="searchBox">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name="search" placeholder="Buscar..." class="searchInput" autocomplete="off">
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <td class="tableHeader">Foto</td>
            <td class="tableHeader elementUser">Usuario</td>
            <td class="tableHeader">Email</td>
            <td class="tableHeader"></td>
            <td class="tableHeader"></td>
        </tr>
        </thead>
        <tr class="fila">
            <td><img class="imgProfile" src="../img/UserFoto.PNG" alt=""></td>
            <td class="elementUser">Andrea Gomez</td>
            <td>andrea@correo.com</td>
            <td class="btnTable"><a><i class="fa-solid fa-pen-to-square"></i></a></td>
            <td class="btnTable"><a><i class="fa-solid fa-trash-can"></i></a></td>
        </tr>
        <tr class="fila">
            <td><img class="imgProfile" src="../img/UserFoto.PNG" alt=""></td>
            <td class="elementUser">Andrea Gomez</td>
            <td>andrea@correo.com</td>
            <td class="btnTable"><a><i class="fa-solid fa-pen-to-square"></i></a></td>
            <td class="btnTable"><a><i class="fa-solid fa-trash-can"></i></a></td>
        </tr>
        <tr class="fila">
            <td><img class="imgProfile" src="../img/UserFoto.PNG" alt=""></td>
            <td class="elementUser">Andrea Gomez</td>
            <td>andrea@correo.com</td>
            <td class="btnTable"><a><i class="fa-solid fa-pen-to-square"></i></a></td>
            <td class="btnTable"><a><i class="fa-solid fa-trash-can"></i></a></td>
        </tr>

    </table>
</div>
