<div id="formIconSection">
    <div class="image-container-form">
        <img src="../img/UserFoto.png" alt="Logo" class="image-form-icon-options" id="image-form-icon">
    </div>
    <div class="optionElement">
        <button type="button" class="button-user-options" id="edit-button-id">Editar<i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <div class="optionElement">
        <button type="button" class="button-user-options" id="my-cars-button-id">Mis coches <i class="fa-solid fa-car"></i></button>
    </div>
    <div class="optionElement">
        <button type="button" class="button-user-options" id="exit-button-id">Cerrar Session <i class="fa-solid fa-right-to-bracket"></i></button>
    </div>
    <div class="optionElementLast">
        <button type="button" class="button-user-options" id="delete-button-id"><span class="delete-option-form">Borrar cuenta <i class="fa-solid fa-trash"></i></span></button>
    </div>
</div>