<div id="userProfileFotoContainer">
    <img src="../img/UserFoto.png" alt="Logo" class="image-form-icon-options" id="profileImage">
</div>
<div id="btnsUser">
    <div class="optionElement">
        <button type="button" class="button-user-options" id="editProfileBtn">Editar<i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <div class="optionElement">
        <button type="button" class="button-user-options" id="myCarsBtn">Mis coches <i class="fa-solid fa-car"></i></button>
    </div>
    <div class="optionElement">
        <button type="button" class="button-user-options" id="logOutBtn">Cerrar Session <i class="fa-solid fa-right-to-bracket"></i></button>
    </div>
    <div class="optionElement optionElementLast">
        <button type="button" class="button-user-options" id="deleteUserBtn"><span class="delete-option-form">Borrar cuenta <i class="fa-solid fa-trash"></i></span></button>
    </div>
</div>