
img {
    width: calc(8rem + 1.8vw);
    height: calc(8rem + 1.5vw);
    border-radius: 29px;
    display: inline-block;
    max-width: 30%;
    vertical-align: middle;
    padding-right: 0.5rem;
    margin: 1rem;
}
#iconTabletTruck{
    display: none;
}
.img-left .img-left .image-bus {
    display: inline-block;
    max-width: 30%;
}
.paragraph{
    border-radius: 19px;
    text-align: left;
    max-width: 70%;
    display: inline-block;
    border: 1px solid black;
    vertical-align: middle;
    width: 60%;
    font-size: calc(1rem + 1.5vw);
    padding: 3rem;
}
.paragraphLightBlueContainer{
    background: #DAF0F4;
}
.paragraphBlueContainer{
    background: #5DCCFC;
}
.aboutUs-container{
    text-align: center;
}
@media only screen and (max-width: 1200px) {
    .img-right, .img-left{
        display: none;
    }
    .paragraphLightBlueContainer, .paragraphBlueContainer{
        margin: 0;
    }

    .paragraphTabletContainer{
        border-radius: 0;
    }
    #paragraphTopTabletContainer{
        margin-top: 2rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #paragraphButtonTabletContainer{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media only screen and (max-width: 800px) {
    .img-left {
        object-fit: contain;
        width: 100%;
        min-width: 10rem;
        height: auto;
        display: inline-block;
        text-align: center;
    }
    .aboutUs-container{
        justify-content: center;
        align-items: center;
    }
    .img-text-container{
        display: block;
        background: none;
        width: 100%;
        padding-top: 2rem;
        object-fit: contain;
        min-width: 20rem;
        border: none;
    }
    p{
        min-width: 20rem
    }
    .paragraphTabletContainer{
        display: none;
        overflow: auto;
    }
    .img-text-phone{
        background: none;
        padding: 10px;
    }
    body{
        background: #DAF0F4;
    }
    #paragraphButtonTabletContainer, #paragraphTopTabletContainer {
        background: none;
        border: 0;
    }
}
