img {
    width: 10rem;
    height: 8rem;
    border-radius: 29px;
    display: inline-block;
    max-width: 30%;
    vertical-align: middle;
    padding-right: 0.5rem;
    margin: 1rem;
}
.img-left{
    display: inline-block;
    max-width: 30%;
}
.img-right{
    display: inline-block;
    max-width: 30%;
}

.parragraphLightBlueContainer{
    background: #DAF0F4;
    border-radius: 19px;
    width: 50rem;
    text-align: left;
    font-size: 2rem;
    padding: 2rem;
    max-width: 70%;
    display: inline-block;
    border: 1px solid black;
    vertical-align: middle;
}

.parragraphBlueContainer{
    background: #5DCCFC;
    border-radius: 19px;
    font-size: 2rem;
    width: 50rem;
    position: center;
    text-align: left;
    padding: 2rem;
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
}
.aboutUs-container{
    text-align: center;
}
