.title-information-user {
    background-color: #99d8ff;
    border: 0;
    border-bottom: 1px black solid;
}
.button-user-options{
    margin: 0;
    background: none;
    border: none;
    border-bottom: 1px gray solid;
    width: calc(15rem + 5vw);
    font-size: calc(0.5rem + 0.8vw);

}
.title-Rd-User-container{
    align-self: center;
}
.info-user-view{
    display: flex;
    justify-content: center;
    border-left: 1px gray solid;
}

#formIconSection{
    width: 100%;
    text-align: left;
    padding: 0;
    top: 50%;
}


.button-user-options{
    margin: 1rem;

}
#userOptionsForm{
    height: 100%;
    align-self: flex-end;
}

.title-information-user, .paragraph-information-user {
    width: 100%;
    padding: 0.5rem;
    font-size: calc(0.5rem + 0.8vw);
}

.paragraph-information-user{
    text-align: left;
}

.top-title-information-user{
    margin-top: 0;
    padding-top: 1rem;
}

.other-title-information-user{
    border-top: 1px black solid;
}

.title-Rd-User-container {
    width: calc(15rem + 10vw);
    border: 1px black solid;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
#formIconSection{
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.delete-option-form{
    color: red;
}

.info-user-view{
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .title-Rd-User-container {
        width: calc(12rem + 10vw);
    }
    .button-user-options{
        width: calc(2rem + 10vw);
        margin-left: 4rem;
    }


}

@media only screen and (max-width: 800px) {
    .title-Rd-User-container {
        width: 100%;
        border: 0;
        margin-top: 0;
        border-radius: 0;
    }
    .top-title-information-user{
        border-top: 1px solid black;
    }
    .title-information-user{
        text-align: center;
        min-width: 4rem;
    }

    .paragraph-information-user{
        padding-left: 1rem;
    }
    .title-information-user, .paragraph-information-user{
        min-width: 6rem;
    }
}