.title-information-user {
    background-color: #99d8ff;
    border: 0;
    border-bottom: 1px black solid;
}
.button-user-options{
    margin: 0;
    background: none;
    border: 1px gray solid;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 20rem;
    font-size: 1rem;
}



#formIconSection{
    width: 100%;
    text-align: left;
    padding: 0;
    top: 50%;
}

.iconsUserViewLeft{
    height: 100%;
    flex-grow: 1;
}
.button-user-options{
    margin: 1rem;
}
#userOptionsForm{
    height: 100%;
}
.title-information-user, .paragraph-information-user {
    width: 100%;
    padding: 0.5rem;
    font-size: calc(0.5rem + 1vw);
}

.paragraph-information-user{
    text-align: left;
}

.top-title-information-user{
    margin-top: 0;
    padding-top: 1rem;
}

.other-title-information-user{
    border-top: 1px black solid;
}

.title-Rd-User-container {
    width: calc(15rem + 10vw);
    border: 1px black solid;
    border-radius: 20px;
    margin: 2rem;
    overflow: hidden;
}

.info-user-view{
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .title-Rd-User-container {
        width: calc(12rem + 10vw);
    }
}

@media only screen and (max-width: 800px) {
    .title-Rd-User-container {
        width: 100%;
        border: 0;
        border-radius: 0;
    }
    .top-title-information-user{
        border-top: 1px solid black;
    }
    .title-information-user{
        text-align: center;
        min-width: 4rem;
    }

    .paragraph-information-user{
        padding-left: 1rem;
    }
    .title-information-user, .paragraph-information-user{
        min-width: 6rem;

    }
}