body{
    margin: 0;
}
footer{
    background-color: var(--dark-blue);
    margin: 0;
    padding: 0;
    border-top: 1px solid;
}

.footerContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
}

.footerSection{
    text-align: center;
    margin: 0 auto;
}
.linksFooter{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footerSectionElement{
    margin: auto;
}
img{
    max-width: 3rem;
    max-height: 3rem;
}
.imgContainer{
    display: flex;
    flex-direction: column;
}

.imgFooter{
    margin: auto;
}
