
input {
    width: calc(90% - 1rem);
    border: none;
    border-bottom: solid 1px;
}

.containerForm {
    margin:auto;
    vertical-align: middle;
    text-align: center;
    background-color: var(--light-blue);
    height: auto;
    padding: 1rem 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-family: Arial, "Arial Nova", sans-serif;
    max-width: 45%;
}

.elementForm{
    width: 85%;
    display: flex;
    flex-direction:column ;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 1rem ;
}


p {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.containerButton {
    background: var(--dark-blue);
    width: calc(30% - 1rem);
    padding: 0.5rem 0.5rem;
    margin-top: auto;
    margin-bottom: 1rem;
    display: block;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    position: relative;
}

.containerButton:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
}

.containerButton:hover:before {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.containerButton:active {
    box-shadow: none;
}

#formIconSection {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formIconSection * {
    margin: 1rem;
}

#formIconSection img {
    max-height: 6rem;
    max-width: 6rem;
}

@media only screen and (max-width: 800px) {
    html, body {
        height: 100%;
        width: 100%;
    }

    .containerForm {
        height: 97%;
        border-radius: 0;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .containerForm {
        min-width: 20rem;
        max-width: 30rem;
    }
}