
.bodyContainer {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    padding: 1rem;
}

#Global\ Body {
    background-color: var(--light-blue);
    border: 2px solid black;
    padding: 2rem;
    margin: auto;
    height: 100%;
}

.mapContainer {
    padding: 1rem;
    border: solid 1px;
}

.mapaImagen {
    max-width: 30rem;
    max-height: 30rem;
}

.InfoGasStation {
    padding: 0 3rem;
}

h2 {
    text-align: center;
}

.GasDescription {
    margin-top: 3rem;
    border: solid 1px;
    padding: 2rem;
    height: 100%;
    width: 100%;
}