
.bodyContainer{
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 80%;
}
.mapContainer{
    padding: 3rem;
}
.mapaImagen{
    max-width: 30rem;
    max-height: 30rem;
    margin: auto;
}

.InfoGasStation{
    padding: 0 3rem;
}
h2{
    margin: 3rem auto;
    text-align: center;
}

.GasDescription{
    margin-top: 3rem;
    border: solid 1px;
    min-height: 60%;
    padding: 2rem;
}