
.bodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

#Global\ Body {
    background-color: var(--light-blue);
    border: 2px solid black;
    padding: 2rem;
    margin: auto;
    height: 100%;
    align-items: center;
}

.mapaImagen {
    max-width: 20rem;
    max-height: 20rem;
    margin-right: 1rem;
}

h2 {
    text-align: center;
}

.GasDescription {
    border: solid 1px;
    padding: 1rem;
    text-align: justify;
    margin: 1px;
}