
.GasStationListElement {
    background-color: var(--light-blue);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.gasStationListPrices {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gasStationListPrices li {
    float: left;
    padding: 0.2rem;
}