header {
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: sandybrown;
    padding: 2px;
    display: flex;
}

.headerRightSection {
    margin-left: auto;
    margin-right: 1.5rem;
}

.headerSection {
    padding: 1rem 1rem;
    text-align: center;
}

#headerLogo {
    max-width: 3rem;
    max-height: 3rem;
}

#headerProfileImg {
    max-width: 3rem;
    max-height: 3rem;
}
