@media only screen and (min-width: 800px) {
    #headerMobile{
        display: none
    }

}

/*movil*/
@media only screen and (max-width: 800px) {
    body{
        margin: 0;
    }
    #headerMobile{
        background-color: var(--dark-blue);
        margin: 0;
        min-width: 100%;
        max-height: 4%;
        min-height: 4%;
    }
    .formButton{
        width: 50%;
    }
    #buttonToggleHeaderMobile{
        margin: 0.5rem;
    }
}
