#headerLogo{
    width: 100px;
    height: 80px;
    border-radius: 17px;
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    margin-left: 2rem;
}
#header{
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    min-height: 130px;
}

header ul {
    display: flex;
    list-style: none;

}

header li {
    margin: 0 10px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.links {
    margin-top: auto;
    margin-bottom: auto;
}

#headerLinks{
    display:flex;
    flex-grow: 1;
    justify-content: space-between;
}


#fotoUserHeader{
    max-width: 158px;
    max-height: 94px;
    border-radius: 100%;
}

.Right{
    margin-top:auto;
    margin-bottom:auto;
    margin-right: 2rem;
}

#loginBtn{
    border: none;
    color: white;
    font-size: large;
    background-color: var(--light-blue);
    min-height: 50px;
    min-width: 130px;
}
#loginBtn:hover{
    background-color: var(--super-dark-blue);
    cursor: pointer;
}

@media (min-width: 1200px){

}

/*Tablet*/
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    html, body {
        height: 100%;
    }

    header {
        flex-direction: column;
        vertical-align: middle;
        text-align: center;
        max-width: 10rem;
        height: 100%;
        display: inline-block;
    }

    .headerRightSection {
        margin-top: auto;
        margin-bottom: 1.5rem;
    }
    #headerAboutSection {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/*Movil*/
@media only screen and (max-width: 800px) {
    html, body {
        height: 100%;
    }

    header {
        flex-direction: column;
        vertical-align: middle;
        text-align: center;
        min-width: 100%;
        height: auto;
        background-color: var(--light-blue);
    }
    .headerDisplayoff{
        display: none;
    }
    .headerRightSection {
        margin-top: auto;
        margin-bottom: 1.5rem;
    }
    #headerAboutSection {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}