header {
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: sandybrown;
    padding: 2px;
}

.headerLeftSection {
    float: left;
}

.headerRightSection {
    float: right;
}

.headerSection {
    padding: 1rem 1rem;
    text-align: center;
}

