
p {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.containerList {
    border: 1px solid black;
    width: 22rem;
    height: 20rem;
    overflow: hidden;
    background-color: #FFE;
}

.containerSearch {
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.btnEdit {
    background-color: darkslateblue;
    color: white;
    margin: 0.1rem;
    padding: 0.2rem 0.5rem;
    border: none;
    font-weight: bold;
}

.btnTrash {
    background-color: darkred;
    color: white;
    margin: 0.1rem;
    padding: 0.2rem 0.5rem;
    border: none;
    font-weight: bold;
}

#btnAdd {
    background-color: limegreen;
    font-weight: bold;
    color: white;
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    border: none;
}

#btnBusCar {
    background-color: royalblue;
    font-weight: bold;
    color: white;
    margin: 0.3rem;
    padding: 0.5rem 1rem;
    border: none;
}




table {
    margin: auto;
    background-color: lightgray;
    border: black 1px solid;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-collapse: collapse;
}

td {
    background-color: white;
}
tbody{
    opacity: 0.8;
}

.listElements {
    height: 12rem;
    overflow-y: auto;
}