body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 15rem;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #B5B5B5;
    border-radius: 5px;
    cursor: pointer;
}
