body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    background-color: var(--super-light-blue);
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: var(--light-blue);
    border-radius: 5px;
    cursor: pointer;
}

#submit {
    margin-top: auto;
}

@media only screen and (max-width: 600px) {
    html, body {
        height: 100%;
        width: 100%;
    }

    form {
        height: 90%;
        width: 90%;
        border-radius: 0;
    }

    form div {
        display: inline-block;
        width: 80%;
    }

    form input {
        width: 100%;
    }

    button {
        width: 90%;
        height: 5rem;
    }
}

@media only screen and (min-width: 600px) {
    form {
        border: 1px solid black;
    }
}