:root {
    --super-light-blue: #daf0f4;
    --light-blue: #99d8ff;
    --power-blue: #5DCCFC;
    --dark-blue: #0065a3;
    --super-dark-blue: #00426a;
    --bg-table:#DAF0F4;
    --row-border-color:#767373;
}


body{
    display: flex;
    flex-direction: column;
    margin:0;
    min-height: 100vh;
}

#bodyMain{
    display: flex;
    min-height: 100vh;
    min-width: 100%;

}
#indexBody{
    flex:1;
}
@media (min-width: 1200px){
    #bodyMain{
        flex-direction: column;
    }
}

@media (min-width: 800px) and (max-width:1200px) {
    body {
        flex-direction: row;
    }
}
/* Cambiar body por bodymain



body{
    margin:0;
    min-height: 100vh;
}

/*Desktop
@media (min-width: 1200px) {
    body{
        flex-direction: column;
    }

}

/*movil
@media only screen and (max-width: 800px) {

}
/*tablet*
@media (min-width: 800px) and (max-width:1200px){
    body {
        flex-direction: row;
    }
    #headerMobile{
        flex-direction: column;
    }

}
*/
.displayoff{
    display: none;
}