:root {
    --super-light-blue: #daf0f4;
    --light-blue: #99d8ff;
    --power-blue: #5DCCFC;
    --dark-blue: #0065a3;
    --super-dark-blue: #00426a;
    --bg-table:#DAF0F4;
    --row-border-color: #a5a2a2;
    --border-buttons-profile:#B5B5B5;
    --hover-profile-options:#c4c2c2;
    --background-data-user:#FFF9F9;
}


body{
    display: flex;
    flex-direction: column;
    margin:0;
    min-height: 100vh;
}

#bodyMain{
    display: flex;
    min-height: 100vh;
    min-width: 100%;

}
#indexBody,#addPumpingBody{
    flex:1;
}
@media (min-width: 1200px){
    #bodyMain{
        flex-direction: column;
    }
}

@media (min-width: 801px) and (max-width:1200px) {
    body {
        flex-direction: row;
    }
}

@media only screen and (max-width: 800px) {
    #bodyMain{
        height: auto;
        min-width: 100%;
    }
}
.displayoff,.bodyDisplayOff{
    display: none;
}