
.infoUserViewRight, .iconsUserViewLeft{
    height: 100%;
    text-align: left;
}
.infoUserViewRight{
    width: 70%;
    display: inline-block;
}
.iconsUserViewLeft {
    display:inline-block;
    width: 29%;
    margin: 0;
    vertical-align: top;
}

.image-form-icon-options{
    width: calc(7rem + 4vw);
    height:  calc(7rem + 4vw);
}

.left-icons-view{
    margin: 0;
    width: 100%;
    height: calc(40rem + 5vw);
}

.user-info-container{
    width: 100%;
    height: 100%;
}

p{
    text-decoration: none;
}

/* Tablet*/
@media only screen and (max-width: 1200px) {
    .image-form-icon-options{
        width: calc(6rem + 4vw);
        height:  calc(4rem + 4vw);
    }

    .infoUserViewRight{
        width: 10%;
    }
    .iconsUserViewLeft {
        display:inline-block;
        width: 40%;
    }
    .image-container-form{
        padding-left: 0.3rem;
    }
    p{
        margin-bottom: 3.5rem;
    }
}

/* Movil */
@media only screen and (max-width: 800px) {
    #formIconSection{
        display: none;
    }
    .infoUserViewRight {
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    .iconsUserViewLeft{
        display: none;
    }
    .title-Rd-User-container{
        margin: 0;
    }
}
