<div id="iconAndButtons">
  <div class="d-flex justify-content-center align-items-center">
    <img src="" alt="imagen usuario" class="" id="profileImage">
  </div>
  <div id="" class="w-100">
    <div class="w-100 optionElement">
      <button type="button" class="w-100 btnPerfil" id="editProfileBtn" (click)="editUser()">Editar<i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    <div class="w-100 optionElement">
      <button type="button" class="w-100 btnPerfil" id="myCarsBtn" (click)="toCars()">Coches <i class="fa-solid fa-car"></i></button>
    </div>
    <div class="w-100 optionElement">
      <button type="button" class="w-100 btnPerfil" id="logOutBtn" (click)="logOut()">Cerrar Session <i class="fa-solid fa-right-to-bracket"></i>
      </button>
    </div>
    <div class="w-100 optionElement lastOptionElement">
      <button type="button" class="w-100 btnPerfil" id="deleteUserBtn" (click)="deleteUser()"><span class="delete-option-form" >Borrar cuenta <i
        class="fa-solid fa-trash"></i></span></button>
    </div>
  </div>
</div>
