<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/cardCar.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
  <body>
      <div class="layout">
          <div class="card">
                <img src="../../../img/car.PNG" class="card-img" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Polo</h3>
                  <p class="card-text">Volkswagen T9 Diesel 2023KVM</p>
                    <button class="btn btn-primary mb-1">
                        <i data-feather="maximize-2" class="feather-48"></i>
                    </button>
                 </div>
          </div>
          <div class="card">
              <img src="../../../img/car.PNG" class="card-img" alt="...">
              <div class="card-body">
                  <h3 class="card-title">Polo</h3>
                  <p class="card-text">Volkswagen T9 Diesel 2023KVM</p>
                  <button class="btn btn-primary mb-1">
                      <i data-feather="maximize-2" class="feather-48"></i>
                  </button>
              </div>
          </div>
          <div class="card">
              <img src="../../../img/car.PNG" class="card-img" alt="...">
              <div class="card-body">
                  <h3 class="card-title">Polo</h3>
                  <p class="card-text">Volkswagen T9 Diesel 2023KVM</p>
                  <button class="btn btn-primary mb-1">
                      <i data-feather="maximize-2" class="feather-48"></i>
                  </button>
              </div>
          </div>

          <div class="card">
              <img src="../../../img/car.PNG" class="card-img" alt="...">
              <div class="card-body">
                  <h3 class="card-title">Polo</h3>
                  <p class="card-text">Volkswagen T9 Diesel 2023KVM</p>
                  <button class="btn btn-primary mb-1">
                      <i data-feather="maximize-2" class="feather-48"></i>
                  </button>
              </div>
          </div>

          <div class="card">
              <img src="../../../img/car.PNG" class="card-img" alt="...">
              <div class="card-body">
                  <h3 class="card-title">Polo</h3>
                  <p class="card-text">Volkswagen T9 Diesel 2023KVM</p>
                  <button class="btn btn-primary mb-1">
                      <i data-feather="maximize-2" class="feather-48"></i>
                  </button>
              </div>
          </div>

          <div class="card">
              <img src="../../../img/car.PNG" class="card-img" alt="...">
              <div class="card-body">
                  <h3 class="card-title">Polo</h3>
                  <p class="card-text">Volkswagen T9 Diesel 2023KVM</p>
                  <button class="btn btn-primary mb-1">
                      <i data-feather="maximize-2" class="feather-48"></i>
                  </button>
              </div>
          </div>
      </div>
      <script>feather.replace()</script>
  </body>
</html>