<div id="carCardContainer" class="layout-card-car">
    <template id="car-card-template">
        <div class="card-car-img-text-container">
            <img src="../../../img/car.PNG" class="card-img" alt="...">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <p class="card-text"></p>
                <button class="btn btn-primary mb-1 btn-card-car">
                    <i class="fa-solid fa-expand"></i>
                </button>
            </div>
        </div>
    </template>
</div>