<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/cardCar.css">
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../../../js/cardCar.js"></script>
</head>
<body>
<div id="carCardContainer" class="layout-card-car">
    <template id="car-card-template">
        <div class="card-car-img-text-container">
            <img src="" class="card-img" alt="...">
            <div class="card-body">
                <h3 class="card-title"></h3>
                <p class="card-text"></p>
                <button class="btn btn-primary mb-1 btn-card-car">
                    <i data-feather="maximize-2" class="feather-48 feather-48-card-car"></i>
                </button>
                <script>feather.replace();</script>
            </div>
        </div>
    </template>
</div>
</body>
</html>