<!-- Componente de informacion del usuario -->
<div id="dataUserContainer">
     <div class="title-Rd-User-container">
             <!-- Nombre del usuario -->
         <h2 class="titleSection top-title-information-user">Datos del usuario</h2>
         <p class="paragraph-information-user">Nombre: Andrea Monzón</p>

         <!-- Correo del usuario -->
         <p class="paragraph-information-user">Correo: andrea@correo.com</p>

         <!-- Numero de coches del usuario -->
         <h2 class="titleSection other-title-information-user">Informacion de coches</h2>
         <p class="paragraph-information-user">Numero de coches: 2</p>

         <h2 class="titleSection other-title-information-user">Operaciones del usuario</h2>

         <!-- Numero de repostajes del usuario -->
         <p class="paragraph-information-user">Numero de respostajes: 100</p>

         <!-- Numero de reparaciones del usuario -->
         <p class="paragraph-information-user lastInfoUser">Numero de reparaciones: 10</p>
     </div>
 </div>