<!-- Componente de informacion del usuario -->
<div class="info-user-view">
     <div class="title-Rd-User-container">
         <!-- Nombre del usuario -->
         <h3 class="title-information-user top-title-information-user">Datos del usuario</h3>
         <p class="paragraph-information-user">Nombre: Andrea Monzón</p>
         <p class="name-value-user-rd"></p>

         <!-- Correo del usuario -->
         <p class="paragraph-information-user">Correo: andrea@correo.com</p>
         <p class="email-value-user-rd"></p>

         <!-- Numero de coches del usuario -->
         <h3 class="title-information-user other-title-information-user">Informacion de coches</h3>
         <p class="paragraph-information-user">Numero de coches: 2</p>
         <p class="number-car-value-user-rd"></p>

         <h3 class="title-information-user other-title-information-user">Operaciones del usuario</h3>

         <!-- Numero de repostajes del usuario -->
         <p class="paragraph-information-user">Numero de respostajes: 100</p>
         <p class="number-refuel-value-user-rd"></p>

         <!-- Numero de reparaciones del usuario -->
         <p class="paragraph-information-user">Numero de reparaciones: 10</p>
         <p class="number-reparatarions-value-user-rd"></p>
     </div>
 </div>