<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../css/styles.css">
    <link rel="stylesheet" href="../../../css/form.css">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="formIconSection">
    <img src="../../../img/Logo.png" alt="Logo">
    <button type="button">Option 1</button>
    <button type="button">Option 2</button>
    <button type="button">Option 3</button>
</div>

</body>
</html>