<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form>
    <label for="campo1">Campo 1:</label><br>
    <input type="text" id="campo1" name="campo1"><br>

    <label for="campo2">Campo 2:</label><br>
    <input type="text" id="campo2" name="campo2"><br>

    <label for="campo3">Campo 3:</label><br>
    <input type="text" id="campo3" name="campo3"><br>

    <label for="campo4">Campo 4:</label><br>
    <input type="text" id="campo4" name="campo4"><br>

    <button name="button" type="submit" class="containerButton">Enviar</button>
</form>
</body>
</html>