<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../css/form.css"/>
</head>
<body>
<div class="containerForm">
    <p>Informacion usuario</p>
    <form>
        <label for="campo1">Campo 1:</label><br>
        <input type="text" id="campo1" name="campo1"><br>

        <label for="campo2">Campo 2:</label><br>
        <input type="text" id="campo2" name="campo2"><br>

        <label for="campo3">Campo 3:</label><br>
        <input type="text" id="campo3" name="campo3"><br>

        <button name="button" type="submit" class="containerButton">Registrar</button>
    </form>
</div>
</body>
</html>