<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!--<link href="https://use.fontawesome.com/releases/v5.15.3/css/svg-with-js.css" rel="stylesheet" />-->
        <link rel="stylesheet" href="../../../css/list.css"/>
    </head>

    <body>
        <div class="containerList">
            <p>Lista</p>
            <div class="containerSearch">
                <!--<input type="search" id="search" name="nombre">-->
                <button id="btnBusCar" type="submit"> Buscar </button>
                <button id="btnAdd" type="submit"> Añadir </button>
            </div>
            <div class="listElements">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 1 columna de la tabla -->
                    <tr>
                        <td>
                            <img src="" alt="IconList" class="imgList">
                        </td>
                        <td>
                            Lorem Ipsum passages
                        </td>
                        <td class="text-right">
                            <button class="btnEdit">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btnTrash">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                        <!-- 2 columna de la tabla -->
                    <tr>
                        <td>
                            <img src="" alt="IconList" class="imgList">
                        </td>
                        <td>
                            Lorem Ipsum passages
                        </td>
                        <td class="text-right">
                            <button class="btnEdit">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btnTrash">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    <tr>
                        <!-- 3 columna de la tabla -->
                    <tr>
                        <td>
                            <img src="" alt="IconList" class="imgList">
                        </td>
                        <td>
                            Lorem Ipsum passages
                        </td>
                        <td class="text-right">
                            <button class="btnEdit">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btnTrash">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                        <tr>
                            <td>
                            </td>
                            <td> </td>
                            <td class="text-right">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>