<!-- Componente de informacion del usuario -->
<div id="dataUserContainer">
  <div class="title-Rd-User-container">
    <!-- Nombre del usuario -->
    <h2 class="titleSection top-title-information-user">Datos del usuario</h2>
    <p class="paragraph-information-user">Nombre: {{ this.user?.username }}</p>

    <!-- Correo del usuario -->
    <p class="paragraph-information-user">Correo: {{ this.user?.email }}</p>

    <!-- Numero de coches del usuario -->
    <h2 class="titleSection other-title-information-user">Informacion de coches</h2>
    <p class="paragraph-information-user">Numero de coches:  {{ numeroCoches }}</p>

    <h2 class="titleSection other-title-information-user">Operaciones del usuario</h2>

    <!-- Numero de repostajes del usuario -->
    <p class="paragraph-information-user">Numero de respostajes: {{ numeroRepostajes }}</p>

    <!-- Numero de reparaciones del usuario -->
    <p class="paragraph-information-user lastInfoUser">Numero de reparaciones: {{ numeroReparaciones }}</p>
  </div>
</div>
