<div class="containerList" id="ContenedorMantenimientoLista">
  <div class="searchBox mb-3">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="search" placeholder="Buscar..." class="searchInput" autocomplete="off">
  </div>
  <div class="listaMantenimiento">
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Aceite del Motor</h3>
      </div>
      <div class="valor bg-orange" id="Aceite" >
        <p>5 000</p>
      </div></div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Aceite de direccion</h3>
      </div>
      <div class="valor bg-red" id="aceiteDireccion">
        <p>1 000</p>
      </div></div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Agua del Radiador</h3>
      </div>
      <div class="valor bg-green" id="aguaRadiador">
        <p>10 000</p>
      </div>
    </div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Agua del Parabrisas</h3>
      </div>
      <div class="valor bg-green" id="aguaParabrisas">
        <p>10 000</p>
      </div>
    </div>

    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Liquido de Frenos</h3>
      </div>
      <div class="valor bg-orange" id="liquidoFrenos" >
        <p>5 000</p>
      </div></div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Valvulina caja de Cambios</h3>
      </div>
      <div class="valor bg-red" id="valvulinaCambios">
        <p>1 000</p>
      </div></div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Valvulina del Diferencial</h3>
      </div>
      <div class="valor bg-green" id="valvulinaDiferencial">
        <p>10 000</p>
      </div>
    </div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Agua de la Bateria</h3>
      </div>
      <div class="valor bg-green" id="aguaBateria">
        <p>10 000</p>
      </div>
    </div>

    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Filtro de aceite</h3>
      </div>
      <div class="valor bg-orange" id="filtroAceite" >
        <p>5 000</p>
      </div></div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Filtro de aire</h3>
      </div>
      <div class="valor bg-red" id="filtroAire">
        <p>1 000</p>
      </div></div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Filtro del Combustible</h3>
      </div>
      <div class="valor bg-green" id="filtroCombustible">
        <p>10 000</p>
      </div>
    </div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Presion Neumaticos</h3>
      </div>
      <div class="valor bg-green" id="presionNeumaticos">
        <p>10 000</p>
      </div>
    </div>


    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Correa de Distribucion</h3>
      </div>
      <div class="valor bg-orange" id="correaDistribucion" >
        <p>5 000</p>
      </div></div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Correa del Alternador</h3>
      </div>
      <div class="valor bg-red" id="correaAlternador">
        <p>1 000</p>
      </div></div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Limpieza Bujias</h3>
      </div>
      <div class="valor bg-green" id="limpiezaBujias">
        <p>10 000</p>
      </div>
    </div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Cambio de Bujias</h3>
      </div>
      <div class="valor bg-green" id="cambioBujias">
        <p>10 000</p>
      </div>
    </div>

    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Impuesto de Circulacion</h3>
      </div>
      <div class="valor bg-orange" >
        <p>20/6/2023</p>
      </div></div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Seguro del Coche</h3>
      </div>
      <div class="valor bg-red">
        <p>06/01/2024</p>
      </div></div>
    <div class="rowMantenimiento">
      <div class="itemMantenimento">
        <h3>Vencimiento ITV</h3>
      </div>
      <div class="valor bg-green">
        <p>17/12/2023</p>
      </div>
    </div>
  </div>
</div>
